* {
  margin: 0;
}

mat-card {
  border: solid 1px rgb(141, 136, 136);
  padding: 10px;
  background-color: rgb(204, 247, 221);
  width: 60%;
  margin: 0 auto;
}

div {
  background-color: rgb(181, 183, 246);
}

#link {
  border: solid 1px black;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(243, 225, 199);
  word-break: break-all;
  cursor: pointer;
}

#link:hover {
  background-color: rgb(234, 189, 126);
}
